<h3>DatabaseTester</h3>

<InputText id="ExampleText" @bind-Value="FormText" />
<button onclick="@Create">Store text for testing</button>

<table class="table">
    <thead>
        <tr>
            <th>Created</th>
            <th>Text</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in DataList)
        {
            <tr>
                <td>@data.Created.ToString()</td>
                <td>@data.Text</td>
                <td><button onclick="@(()=>Remove(data.ExampleTextDataId!.Value))">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
